fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiomysql
h5py
numpy
fastapi-users[sqlalchemy]
python-multipart
pydantic[email]
jinja2
aiofiles
requests
ddddocr==1.5.6
tenacity
beautifulsoup4
cachetools
brotli
