.table-container {
    margin: 10px auto;
    max-width: 800px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}
th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #E2E9F5; /* 更改表头颜色 */
    color: #459dbf;
    cursor: pointer;
}
th.sortable:hover {
    background-color: #87CEEB; /* 更改表头悬停颜色 */
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}
td.name {
    color: #007bff; /* 蓝色 */
    cursor: pointer; /* 指针样式 */
    text-decoration: underline; /* 下划线 */
    white-space: nowrap;
    max-width: 65px;
}

td.name:hover {
    color: #0056b3; /* 悬停时的颜色 */
}

.red {
    color: red;
}
.green {
    color: green;
}
.center {
    text-align: center;
}

.card {
    position: relative;
    background-color: #ecf2fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 2px;
    margin: 5px 1px;
    text-align: center;
    max-width: 130px;
}

.card.main {
    background-color: #d1dae5;
}

.card:hover {
    background-color: #bdc2c8;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 3px;
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.9em;
}

.subcard-title {
    font-size: 0.9em;
}

.subcard-info {
    font-size: 0.8em;
    color: #999;
}

.subcard {
    position: relative;
    background-color: #ecf2fa;
    border: 1px solid #ddd;
    border-left: 2px solid lightskyblue;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-left: 8px;
    margin: 3px 1px;
}

.subcard:hover {
    background-color: #d1dae5;
}

.subcard.selected {
    border-left: 8px solid #007bff;
    border-radius: 6px 3px 3px 6px;
    padding-left: 2px;
}

.left-info {
    width: 50%;
    text-align: left;
}

.right-info {
    text-align: right;
}

.tip-text {
    width: 100px;
    text-align: left;
}

.tip-sell-text {
    width: 130px;
    text-align: left;
    color: green;
}

.tip-buy-text {
    width: 130px;
    text-align: left;
    color: red;
}

.info-area {
    display: flex;
    flex-wrap: wrap;
}

.action-area {
    display: flex;
    text-align: left;
}

.panel {
    padding: 3px;
    min-width: 400px;
    max-width: 400px;
}

.hidden-area {
    width: 70%;
    height: 80px;
    border: 1px solid red;
    padding: 10px;
    background-color: #f2f2f2;
    margin: auto;
    text-align: center;
}

.dragging {
    opacity: 0.5;
}

.tooltip {
    font-size: 0.9em;
    visibility: hidden;
    background-color: #ecf2fa;;
    color: #000;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 4px;
    border: solid 1px #ccc;
    padding: 5px;
    width: 225px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-top: 2px;
    opacity: 0;
    transition: opacity 0.3s;
    --arrow-left: 50%;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: var(--arrow-left);
    transform: translateX(-50%);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #999 transparent;
}

.card:hover .tooltip,
.subcard:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

button {
    border: none;
    min-width: 25px;
    border-radius: 2px;
    margin: 1px;
}

.container-button {
    background-color: #777;
    color: white;
}

button.pressed {
    background-color: #007bff;
}

.editable {
	padding: 1px 2px;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 73px;
	font-size: 0.9em;
    text-wrap: nowrap;
}

.editable:hover {
    background-color: #e0e0e0;
}

input.editing {
	padding: 1px 2px;
	border: 1px solid #007bff;
	border-radius: 2px;
	font-size: 0.9em;
	width: 73px;
}

