hr {
    border:none;
    border-top:2px dotted #535759;
}

.radio_anchor_div a {
    display: inline-block;
    padding: 2px 10px;
    margin: 0;
    line-height: 28px;
    text-decoration: none;
    border: 1px solid #764ba2;
}

.radio_anchor_div a.highlight {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.radio_anchor_div a.highlight:link, .radio_anchor_div a.highlight:visited {
    color: white;
}

.stock_list_item {
    cursor: pointer;
    border-top: #535759 2px dotted;
    padding: 10px 5px;
}

#acc_stock_list {
    border-bottom: #535759 2px dotted;
}

.strategy_border_div {
    border-left: 5px solid grey;
    margin-top: 10px;
    padding-left: 5px;
}

.strategy_transfer_box {
    border-left: 2px dotted grey;
    margin-top: 8px;
    padding-left: 2px;
}

.deals_record_container {
    max-width: 550px;
    max-height: 100px;
    overflow-y: auto;
    position: relative;
}

.deals_record_container div {
    margin: 0;
}

.deals_record_container:hover .hover-actions {
    opacity: 1;
    visibility: visible;
}

.lost-assign-panel {
    border: 1px dotted;
    border-radius: 5px;
    font-size: .9em;
    padding: 5px 15px;
}
